@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:"poopins",serif;


}
body{
    background-color: #222831 ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 0.5rem;
    max-width: 1200px;
 }
 .navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
 }
.navigation a {
    text-decoration: none;
    color: #eeeeee;
}
.navigation a:hover {
    color: #00adb5;
}
  hr{
    opacity: 10%;
  } 
  
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

.arrow {
    position: absolute;
    transform: translatex(-5.5rem) translateY(1.5rem) ;
}
.herosub {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.name {
    font-size: 3rem;
    color: #eeeeee;
}
.title {
    font-size: 4rem;
    color: #00adb5;
}
.herobtns {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.hireme {
    background-color: #00adb5;
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgb(0,0,0,0.5);
}
.cv {
    background-color: rgba(57,62,70,0.75);
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(4px);
}
.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
}
.textContainer {
    display: flex;
    flex-direction: column;
}
.textTitle{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.aboutName {
    color: #eeeeee;
}
.aboutTitle {
    color: #00adb5;
}
.aboutMepar {
    text-decoration: justify;
    color: rgba(238,238,238,0.75);
}
